<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.puddingjk.mapper.PowerCheckMapper">

    <resultMap id="baseEntity" type="org.puddingjk.entity.BaseEntity">
        <result column="create_time" property="createTime" />
        <result column="delete_flag" property="deleteFlag" />
        <result column="update_time" property="updateTime" />
    </resultMap>
    <sql id="aaa">
        <where>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>

        </where>
    </sql>

    <select id="pageList" resultType="org.puddingjk.entity.PowerCheck" parameterType="org.puddingjk.entity.dto.PowerCheckDTO">
        select * from power_check where delete_flag =0
        <if test="obj.snCode !=null and obj.snCode!=''">
            and locate (#{obj.snCode} , sn_code) > 0
        </if>
        <if test="obj.qrCode !=null and obj.qrCode!=''">
            and locate (#{obj.qrCode} , qr_code) > 0
        </if>
        <if test="obj.cpuCode !=null and obj.cpuCode!=''">
            and locate (#{obj.cpuCode} , cpu_code) > 0
        </if>
        <if test="obj.startTime !=null and obj.startTime!=''">
            <if test="obj.endTime !=null and obj.endTime!=''">
                and associated_time between #{obj.startTime} and  #{obj.endTime}
            </if>
        </if>
        order by create_time desc
    </select>


</mapper>